@page "/"

@inject RolesService rolesService

<button class="btn btn-primary" @onclick="ListaRoles">Lista de Roles</button>

@code {

    protected void ListaRoles()
    {
        var lista = rolesService.ListaRoles();
    }

}