@page "/"

@using System.Net.Http.Json
@using System.Text.Json

@inject RolesService rolesService


<button class="btn btn-primary" @onclick="Enviarmensaje">Lista de Roles</button>

@code {

    public HttpClient Cliente { get; set; }

    protected override void OnInitialized()
    {
        Cliente = new HttpClient();
    }

    protected async Task Enviarmensaje()
    {
        var time = Convert.ToInt64((DateTime.Now - new DateTime(1970, 1, 1)).TotalSeconds);

        var mensaje = new Root
        {
            
          App =   new App
        {
            id = "573127837788",
            time = time,
            data = new Data
            {
                recipient = new Recipient
                {
                    id = "573136707194"
                },
                message = new List<Message>
            {
                    new Message
                    {
                        time = time,
                        type = "text",
                        value = "Mensaje enviado desde blazor"
                    },
                }
            }

        }
        };

        string res = "";
        var app = JsonSerializer.Serialize<Root>(mensaje);

        var response = await Cliente.PostAsJsonAsync<Root>("https://whapi.io/api/send", mensaje);
        if (response.IsSuccessStatusCode)
        {
            res = await response.Content.ReadAsStringAsync();
        Console.WriteLine(res);
        }


    }

    public class App
    {
        public string id { get; set; }
        public long time { get; set; }
        public Data data { get; set; }
    }

    public class Data
    {
        public Recipient recipient { get; set; }
        public List<Message> message { get; set; }
    }

    public class Recipient
    {
        public string id { get; set; }
    }

    public class Profile
    {
        public string firstname { get; set; }
        public string lastname { get; set; }
        public string profilepic { get; set; }
    }

    public class Message
    {
        public long time { get; set; }
        public string type { get; set; }
        public string value { get; set; }
    }

    public class Root
    {
        public App App { get; set; }
    }

    protected void ListaRoles()
    {
        var lista = rolesService.ListaRoles();
    }

}