
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Mi Tienda</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="fa fa-home fa-2x mr-3" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="fa fa-vector-square fa-2x mr-3" aria-hidden="true"></span> Categorías
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="fa fa-cubes fa-2x mr-3" aria-hidden="true"></span> Productos
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="fa fa-user-tag fa-2x mr-3" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <span class="fa fa-chart-line fa-2x mr-3" aria-hidden="true"></span> Ventas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="facturas">
                <span class="fa fa-file-invoice-dollar fa-2x mr-3" aria-hidden="true"></span> Facturas
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ventas/producto">
                <span class="fa fa-chart-bar fa-2x mr-3" aria-hidden="true"></span> Por producto
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ventas/cliente">
                <span class="fa fa-chart-line fa-2x mr-3" aria-hidden="true"></span> Por cliente
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ventas/trimestre">
                <span class="fa fa-chart-pie fa-2x mr-3" aria-hidden="true"></span> Por categorias
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
