<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Ruta no válida!</h4>
    <p>Usted ha navegado a una rota que no existe.</p>
    <hr>
    <p class="mb-0">Intente usar el menú para navegar</p>
</div>

@code {

}
