@page "/account/recoverpassword"
@layout UnauthorizedLayout

<div class="container">
    <div class="col-md-6 offset-md-3">

        <div class="card">
            <div class="card-header">
                <h4>Mi Tienda</h4>
            </div>
            <div class="card-body">

                <h4 class="card-title text-center">¿Olvidaste tu contraseña?</h4>
                <div class="col-md-12 mb-3 text-center">
                    <p>
                        Si olvidaste tu clave, escribe tu
                        dirección de correo electrónico a
                        continuación para restablecerla
                    </p>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" />
                </div>

                <div class="col-md-12 mb-3">
                    <a href="#" class="btn btn-primary btn-block">Envíame la clave</a>
                </div>

                <div class="col-md-12 mb-3">
                    <hr />
                </div>
                <div class="col-md-12 mb-3">
                    <h5>También puedes</h5>
                </div>

                <div class="col-md-12 mb-3">
                    <a href="/account/login"
                       class="btn btn-success btn-block">Iniciar Sesión Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
