@page "/account/register"
@layout UnauthorizedLayout

<div class="container">
    <div class="col-md-6 offset-md-3">

        <div class="card">
            <div class="card-header">
                <h4>Mi Tienda</h4>
            </div>
            <div class="card-body">

                <h4 class="card-title text-center">Registro de Usuario</h4>
                <div class="col-md-12 mb-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control" @bind="Model.Nombre" />
                </div>

                <div class="col-md-12 mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" @bind="Model.Email" />
                </div>

                <div class="col-md-12 mb-3">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" @bind="Model.Clave" />
                </div>

                <div class="col-md-12 mb-3">
                    <label>Confirmar contraseña</label>
                    <input type="password" class="form-control" @bind="Model.ConfirmPassword" />
                </div>

                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary btn-block"
                            @onclick="Registrar">Registrarme</button>
                </div>

                <div class="col-md-12 mb-3">
                    <hr />
                </div>
                <div class="col-md-12 mb-3">
                    <h5>¿Ya tienes una cuenta?</h5>
                </div>

                <div class="col-md-12 mb-3">
                    <a href="/account/login"
                       class="btn btn-success btn-block">Iniciar Sesión Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>

@inject UsuariosService service

@code {

    public RegistroUsuarioModel Model { get; set; } = new RegistroUsuarioModel
    {
        IdRol = 5,
    };

    protected void Registrar()
    {
        var res =  service.Registrar(Model);

        //if (res.IsSuccess)
        //{

        //}
        //else
        //{

        //}
    }

}
