@page "/account/register"
@layout UnauthorizedLayout

<div class="container">
    <div class="col-md-6 offset-md-3">

        <div class="card">
            <div class="card-header">
                <h4>Mi Tienda</h4>
            </div>
            <div class="card-body">
                <EditForm Model="Model" OnValidSubmit="Registrar">
                    <DataAnnotationsValidator />

                    <h4 class="card-title text-center">Registro de Usuario</h4>
                    <div class="col-md-12 mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" @bind="Model.Nombre" />
                        <ValidationMessage For="@(()=>Model.Nombre)" />
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Email</label>
                        <input type="email" class="form-control" @onchange="ValidarEmail" />
                        <ValidationMessage For="@(()=>Model.Email)" />
                        @if (MostrarMensaje)
                        {
                            <span class="text-danger">El email que intenta registrar ya existe</span>
                        }
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" @bind="Model.Clave" />
                        <ValidationMessage For="@(()=>Model.Clave)" />
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Confirmar contraseña</label>
                        <input type="password" class="form-control" @bind="Model.ConfirmPassword" />
                        <ValidationMessage For="@(()=>Model.ConfirmPassword)" />
                    </div>

                    <div class="col-md-12 mb-3">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrarme
                        </button>
                    </div>
                </EditForm>

                <div class="col-md-12 mb-3">
                    <hr />
                </div>
                <div class="col-md-12 mb-3">
                    <h5>¿Ya tienes una cuenta?</h5>
                </div>

                <div class="col-md-12 mb-3">
                    <a href="/account/login"
                       class="btn btn-success btn-block">Iniciar Sesión Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>

@inject UsuariosService service
@inject SweetAlertService swal
@inject NavigationManager navigation

@code {

    public bool MostrarMensaje { get; set; } = false;

    public RegistroUsuarioModel Model { get; set; } = new RegistroUsuarioModel
    {
        IdRol = 5,
    };

    protected async void Registrar()
    {
        var res = service.Registrar(Model);

        if (res.IsSuccess)
        {

            var result = await swal.FireAsync(new SweetAlertOptions
            {
                ShowCloseButton = true,
                Title = "Todo bien!",
                Text = res.Message,
                Icon = SweetAlertIcon.Success,
            });

            navigation.NavigateTo("/account/login");

        }
        else
        {
            var result = await swal.FireAsync(new SweetAlertOptions
            {
                ShowCloseButton = true,
                Title = "Error",
                Text = res.Message,
                Icon = SweetAlertIcon.Error,
            });
        }
    }

    protected void ValidarEmail(ChangeEventArgs e)
    {
        var res = service.ValidarEmail(e.Value.ToString());
        MostrarMensaje = res.IsSuccess;

        Model.Email = e.Value.ToString();
    }

  
}
